[Desktop Entry]
Type=Application
Name=Sloppie
Comment=A development environment for the modern era
Icon=io.otsaloma.sloppie
Exec=sloppie %f
Categories=GNOME;GTK;Development;RevisionControl;
StartupNotify=true
