/* -*- coding: utf-8-unix -*- */

.monospace {
  font-family: "Berkeley Standard Mono", "SF Mono", monospace;
}

.slop-file-sidebar listview {
  background-color: transparent;
}

.slop-file-section {
  color: @theme_selected_bg_color;
  font-weight: bold;
  padding: 18px 12px 6px 20px;
}

.slop-file-row {
  padding: 6px;
}

.slop-file-status {
  font-size: smaller;
  opacity: 0.5;
}

.slop-file-directory {
  font-size: smaller;
  opacity: 0.5;
}

.slop-file-added, .slop-file-removed {
  font-size: smaller;
}

.slop-file-added {
  color: @success_color;
}

.slop-file-removed {
  color: @error_color;
}

.slop-diff-view {
  line-height: 1.4;
  padding: 12px 0;
}

.slop-comment-sidebar {
  padding: 18px;
}

.slop-toast {
  background-color: @theme_fg_color;
  border-radius: 99px;
  color: @theme_bg_color;
  margin: 12px;
  padding: 4px 4px 4px 18px;
}

vte-terminal {
  padding: 6px 6px 3px 6px;
}
